.dashAdmin {
  display: flex;
  background: linear-gradient(120deg, #23262b 0%, #181a20 100%);
  color: #fff;
  text-align: left;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 0px;
  padding-bottom: 20px;
  width: 100%-85px;
  height: fit-content;
}
.dashAdmin>h1 {
  font-size: 1.3rem;
  font-weight: 800;
  color: #ffe066;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.6);
  margin-bottom: 15px;
  margin-top: 10px;
}

.linha {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.kpi {
  display: flex;
  background: #181a20;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 10px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.35);
  border-radius: 18px;
  margin: 10px;
  height: 150px;
  flex-grow: 1;
}
.titulo {
  font-size: 1.3rem;
  font-weight: 800;
  color: #ffe066;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.6);
}
.conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: 800;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
}

.cardGrafico {
  display: flex;
  background: #181a20;
  margin-top: 20px;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
  border-radius: 18px;
  width: 49%;
  height: fit-content;
}
.cardGrafico>h2 {
  font-size: 1.3rem;
  font-weight: 800;
  color: #ffe066;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.6);
  margin-bottom: 15px;
  margin-top: 10px;
}
