.dashAdmin {
  display: flex;
  background: linear-gradient(120deg, #23262b 0%, #181a20 100%);
  color: #fff;
  text-align: left;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 0px;
  padding-bottom: 20px;
  width: 100%-85px;
  height: fit-content;
}
.dashAdmin>h1 {
  font-size: 1.3rem;
  font-weight: 800;
  color: #ffe066;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.6);
  margin-bottom: 5px;
  margin-top: 10px;
}
#sub-titulo {
  
}

.card_legenda {
  display: flex;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.35);
  border-radius: 18px;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #181a20;
  padding: 10px;
  margin-top: 30px;
  font-size: 1.2rem;
  font-weight: 500;
}
.desc {
  display: flex;
  align-items: center;
}
.desc>span {
  font-weight: 800;
  color: #ffe066;
}
.legenda {
  display: flex;
  width: 100%;
  gap: 40px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: #ccc;
}
.opcaoLegenda{
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 600;
}


.bloco_cor {
  width: 25px;
  height: 25px;
  border-radius: 5px;
}
.select_sla1 {
  padding: 2px;
  text-align: center;
  margin-left: 4px;
  border-radius: 5px;
  border: solid;
  border-width: 2px;
  border-color: black;
}
.select {
  width: 90px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 1.3rem;
  font-weight: 800;
  color: #ffe066;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.6);
  border: 1px solid #ffe066;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 5px;
  text-align: center;
  color: #ffe066;
  background-color: transparent;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill-rule='evenodd' clip-rule='evenodd' d='M12.7071 14.7071C12.3166 15.0976 11.6834 15.0976 11.2929 14.7071L6.29289 9.70711C5.90237 9.31658 5.90237 8.68342 6.29289 8.29289C6.68342 7.90237 7.31658 7.90237 7.70711 8.29289L12 12.5858L16.2929 8.29289C16.6834 7.90237 17.3166 7.90237 17.7071 8.29289C18.0976 8.68342 18.0976 9.31658 17.7071 9.70711L12.7071 14.7071Z' fill='%23ffe066'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}
#ano_periodo {
  width: 100px;
}
#mes_periodo {
  width: 180px;
}

.linha {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.kpi {
  display: flex;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.35);
  border-radius: 18px;
  height: 180px;
  background: #181a20;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 10px;
  margin: 10px;
  flex-grow: 1;
}
.kpi_sla {
  border: 10px solid red;
  border-radius: 18px;
  padding: 10px;
}
.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 800;
  color: #ffe066;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.6);
}
.conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2.2rem;
  font-weight: 800;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
}
.seta {
  height: 30px;
  width: 59;
}

.cardGrafico {
  display: flex;
  background: #181a20;
  margin-top: 20px;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
  border-radius: 18px;
  width: 49%;
  height: fit-content;
}
.cardGrafico>h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 800;
  color: #ffe066;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.6);
  margin-bottom: 0px;
  margin-top: 10px;
}
.servidorAlerta {
  margin-bottom: 10px;
  font-size: 1.1rem;
  font-weight: 800;
  color: #ccc;
}

.mudaAlerta {
  height: fit-content;
  width: fit-content;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
  padding: 5px;
  font-size: 1.1rem;
  font-weight: 800;
}

#titulo-ticket {
  margin-bottom: 45px;
}
