.container-KPIS {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    margin-top: 1.5%;
}

.KPI {
    background: #1f1f2e;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    box-shadow: 0 8px 7px #ffffff33;
    flex-direction: column;
    width: 30%;
    padding-top: 1.5rem;
    height: 280px;
}

.KPI h1 {
    margin-top: 16%;
    font-size: 3.5rem;
}

.KPI h4 {
    font-size: 1.2rem;
    margin-top: 4%;
}

.KPI h2{
    width: 105%;
    margin-left: -8.5px;
}

.opcaoLegenda{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 10%;
    cursor: pointer;
}

.mostrarTodosTraco{
    display: none;
}

.info-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

.info-icon::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #222;
  color: #fff;
  padding: 8px 10px;
  border-radius: 6px;
  font-size: 13px;
  max-width: 350px;
  width: 170px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
  white-space: normal;
  z-index: 1000;
  word-wrap: break-word;
}


.info-icon:hover::after {
  opacity: 1;
  visibility: visible;
}
