:root{
    --amarelo: #ffe066;
    --grafico: #1a1a2e;
    --linhas-grid: ; /*Variável aterada dinâmicamente pelo javascript (função criarTabela)*/
}

/* ================== FUNDO PRINCIPAL ================== */
.fundo-escuro {
  /*Se colocar o fundo nesta classe, ele buga e deixa parte da tela em branco*/
  background: transparent;
  /* min-height: 121vh; */
  color: #fff;
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  box-sizing: border-box;
}

main {
  border-top: solid var(--amarelo);
  height: 100%;
}

body {
  height: 50vh;
  background: linear-gradient(120deg, #23262b 0%, #181a20 100%);
}



/* Container central da página */
.container-pagina {
  
  margin: 0 auto;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ================== CONTEÚDO PRINCIPAL ================== */
.conteudo-principal {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
  width: 100%;
}

.principal {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 350px;
  margin-left: 135px;
}

.titulos {
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.titulo-destaque {
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 20px;
  color: var(--amarelo);
}

.subtitulo-destaque {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 20px;
  color: var(--amarelo);
}

.subtitulo {
  font-size: 1rem;
  color: white;
  margin-bottom: 0;
}

.legenda {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #ccc;
  font-weight: 500;
  width: 70%;
  justify-content: space-evenly;
}

.opcaoLegenda{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 10%;
    cursor: pointer;
}

.bloco_cor {
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

.mostrarTodosTraco{
    display: none;
}

.imagem-destaque {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-fundo {
  max-width: 350px;
  max-height: 350px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}


/* ================== CONFIGURAÇÃO ALERTAS ================== */
.configuracao_alerta {
  display: flex;
  background: linear-gradient(160deg, #0f0a10 0%, #181a20 100%);
  color: #fff;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.configuracao_alerta>h1 {
  font-size: 2.8rem;
  font-weight: 800;
  margin-bottom: 6vh;
  color: var(--amarelo);
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.6);
}

.container_servidor {
  display: flex;
  flex-direction: column;
  background-color:#181a20;
  width: 90%;
  border-radius: 18px;
  padding: 20px;
  align-items: flex-start; 
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.35);
  margin: 3vh 0;
}

.linha_titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.linha_titulo>h2 {
  color: var(--amarelo);
  margin-bottom: 15px;
}
.botao {
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: var(--amarelo);
  background-color: black;
  width: 9vw;
  height: 5vh;
  align-self: center;
}

.botao:hover{
  background-color: rgb(221, 221, 221);
  color: black;
}

.linha_servidor {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.alerta_componente {
  display: flex;
  color: var(--amarelo);
  font-weight: bold;
  align-items: center;
}

.titulo_select {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.titulo_select>select {
  padding: 2px;
  text-align: center;
  border-radius: 5px;
  border: solid 2px black;
}

.titulo_select>select option {
  appearance: none;
}

/* ================== KPIS SUPORTE ================== */
.kpi-container {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem; 
    margin-top: 3.5%;
    text-align: center;
    font-weight: 700;
    border-radius: 13px;
}

.kpi-1, .kpi-2, .kpi-3 {
  height: clamp(33%, 34% + 25px, 40%);
  width: clamp(27vw, 28vw + 22px, 30vw);
  background-color: var(--grafico);
  border-radius: 13px;
  box-shadow: 0 8px 7px #ffffff33
}

.kpi-1 .kpi-titulo, .kpi-2 .kpi-titulo, .kpi-3 .kpi-titulo {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--amarelo);
  font-size: 1.5rem;
}

.kpi-1 .kpi-conteudo,
.kpi-2 .kpi-conteudo,
.kpi-3 .kpi-conteudo {
  height: 45%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.kpi-1 .kpi-passado,
.kpi-2 .kpi-passado,
.kpi-3 .kpi-passado {
  height: 30%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}


/* ================== GERAIS ================== */
.container-geral {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.graficos-container {
  height: 50%;
  margin-top: 1.5%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; 
  align-items: stretch;
  gap:  1rem;
  /*margin-top: 2rem;*/
  padding: 0 1rem;
}

.grafico-box {
  width: 100%;
  height: clamp(200px, calc(28% + 15px), 1200px);
  background: var(--grafico);
  border-radius: 12px;
  padding: 0rem 0.5rem 4rem 0.5rem;
  box-shadow: 0 8px 7px #ffffff33;
  flex: 1 0 250px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
}

.grafico-box h3 {
  margin-top: 1rem;
  color: var(--amarelo);
  font-weight: 700;
  font-size: 1.1rem;
}

/* ================== Histórico de alertas ================== */
.container-tabela-dinamica{
  height: clamp(33dvh, 34dvh + 45px, 40dvh);
  width: clamp(65vw, 72vw + 108px, 88vw);
  display: flex; 
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem; 
  text-align: center;
  font-weight: 700;
  background-color: var(--grafico);
  border-radius: 13px;
  box-shadow: 0 8px 7px #ffffff33;
  /*position: absolute;
  left: 13vw;*/
}

.quantidade-alertas{
  font-size: 1.5rem;
}

.tabela-titulo{
  height: 15%;
  width: 100%;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--amarelo);
}

/*.tabela-labels{
  height: 10%;
  width: 98%;
  display: grid;
  grid-template-columns: 12% 22% 22% 22% 22%;
}*/

.tabela-label{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--amarelo);
  font-size: 1.8rem;
  border: 2px solid white;
}

.tabela-conteudo{
  height: 69%;
  width: 98%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: var(--linhas-grid);
  overflow-y: auto;
}

.tabela-celula{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  font-size: 1.2rem;
}

/* ================== RESPONSIVIDADE ================== */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
  }

  .footer-logo {
    justify-content: center;
  }

  .footer-text {
    text-align: center;
    font-size: 0.95rem;
  }

  .footer-icons {
    justify-content: center;
    gap: 20px;
  }

  .footer-icons li a span {
    font-size: 0.75rem;
  }
}

.bem-vindo {
  grid-column: 1 / -1;     
  text-align: center;      
  color: #ffe066; 
  font-size: 3rem;     
}

.desempenho {
  grid-column: 1 / -1;     
  text-align: center;      
  color: #ffe066; 
  margin-bottom: 1rem;     
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
  padding: 10px 20px;
  background: linear-gradient(120deg, #23262b 0%, #181a20 100%);
  padding-bottom: 40px;
}

.grafico-box {
  flex: 1 0 450px; 
  width: 100%;
  max-width: 600px;
}

.graficos-container {
  padding-left: 0;
  padding-right: 0;
  gap: 1rem;
  justify-content: space-evenly;
}

.container-pagina{
  padding-bottom: 0px;
}

.carrossel-botoes button {
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  margin-left: 5px;
}


.grafico-header {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--amarelo);
  font-size: 1.5rem;
  font-weight: 700;
}


.grafico-btn {
  position: absolute;
  font-size: 28px;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  width: 40px;
  height: 40px;
  transform: none; 
}

.btn-esquerda {
  left: 10px;
  top: 10px; 
}

.icon {
  width: 50px;
  height: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}

.icon #primary {
  fill: #ffffff;
  transition: fill 0.3s ease;
}

.icon #secondary {
  fill: #1a1a2e;
  transition: fill 0.3s ease;
}

.icon:hover #primary {
  fill: #ffe066;
}


.btn-direita {
  right: 10px;
  top: 10px; 
}


.grafico-titulo {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%); 
  margin: 0;
  font-size: 16px;
  color: white;
  white-space: nowrap;
}

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(15, 15, 15, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    z-index: 999999; /* muito na frente */
    color: white;
    font-size: 1.2rem;
    backdrop-filter: blur(2px);
}

/* bolinha animada */
.loader-spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #ffffff30;
    border-top-color: #1f1f2e;
    border-radius: 50%;
    animation: spin 0.9s infinite linear;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}